[Unit]
Description=Limpieza de grabaciones loop (cada 30 min)

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
